@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.img-final {
    height: 40vh;
    width: 100vw;
}

.heading-final {
    text-align: center;
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
    font-family: Bree Serif;
}

.paragraph-final {
    padding: 10px;
    text-align: center;
    color: #616e7c;
    font-style: Bree Serif;
    font-size: 15px;
}

.imagefinal1 {
    height: 15vh;
    width: 46vw;
    margin: 5px;
}

.imagefinal2 {
    height: 15vh;
    width: 46vw;
    margin: 5px;
}

.imagefinal3 {
    height: 15vh;
    width: 50vw;
    margin: 5px;
}

.imagefinal4 {
    height: 15vh;
    width: 50vw;
    margin: 5px;
}






.bg-clr {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.box {
    padding: 15px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heading-clr {
    color: #5752ab;
    font-family: Bree Serif;
    font-size: 20px;
}

.paragraph-font {
    font-family: Roboto;
    color: #323f4b;
}

.button-one {
    color: #171f46;
    height: 36px;
    width: 135px;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 5px;
}







.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}


.food-card {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png);
    background-size: cover;
    height: 100vh;
}

.food-cardbox {
    background-color: #f6c56e;
    font-family: Bree Serif;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.food-buttons {
    height: 36px;
    width: 138px;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    font-family: Roboto;
    font-size: 12px;
}


.news-bg-clr {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;

}

.news-box {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}

.news-paragraph-one {
    color: #7b8794;
}

.news-heading-clr {
    color: #323f4b;
    font-size: 15px;
    padding: 1px;
}

.news-paragraph-two {
    color: #7b8794;
    font-size: 10px;
}

.news-buttons {
    height: 36px;
    width: 138px;
    background-color: #323f4b;
    color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
}